In [104]:
#подключенные библиотеки
import pandas as pd
from sklearn.model_selection import train_test_split

In [105]:
#загрузка файла для работы
df=pd.read_csv("F:\\curs.csv")

In [106]:
df

,payment_type,profit_per_order,sales_per_customer,category_id,category_name,customer_city,customer_country,customer_id,customer_segment,customer_state,...,order_region,order_state,order_status,product_card_id,product_category_id,product_name,product_price,shipping_date,shipping_mode,label
0,DEBIT,34.448338,92.490990,9.0,Cardio Equipment,Caguas,Puerto Rico,12097.6830,Consumer,PR,...,Western Europe,Vienna,COMPLETE,191.0000,9.0,Nike Men's Free 5.0+ Running Shoe,99.99,2015-08-13 00:00:00+01:00,Standard Class,-1
1,TRANSFER,91.193540,181.990080,48.0,Water Sports,Albuquerque,EE. UU.,5108.1045,Consumer,CA,...,South America,Buenos Aires,PENDING,1073.0000,48.0,Pelican Sunstream 100 Kayak,199.99,2017-04-09 00:00:00+01:00,Standard Class,-1
2,DEBIT,8.313806,89.966430,46.0,Indoor/Outdoor Games,Amarillo,Puerto Rico,4293.4478,Consumer,PR,...,Western Europe,Nord-Pas-de-Calais-Picardy,COMPLETE,1014.0000,46.0,O'Brien Men's Neoprene Life Vest,49.98,2015-03-18 00:00:00+00:00,Second Class,1
3,TRANSFER,-89.463196,99.150650,17.0,Cleats,Caguas,Puerto Rico,546.5306,Consumer,PR,...,Central America,Santa Ana,PROCESSING,365.0000,17.0,Perfect Fitness Perfect Rip Deck,59.99,2017-03-18 00:00:00+00:00,Second Class,0
4,DEBIT,44.722590,170.978240,48.0,Water Sports,Peabody,EE. UU.,1546.3980,Consumer,CA,...,Central America,Illinois,COMPLETE,1073.0000,48.0,Pelican Sunstream 100 Kayak,199.99,2015-03-30 00:00:00+01:00,Standard Class,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15544,DEBIT,108.042500,359.980000,45.0,Fishing,Caguas,Puerto Rico,8333.1170,Consumer,PR,...,Central America,Managua,COMPLETE,1004.0000,45.0,Field & Stream Sportsman 16 Gun Fire Safe,399.98,2017-04-03 00:00:00+01:00,Standard Class,1
15545,DEBIT,22.480274,169.990000,46.0,Indoor/Outdoor Games,Caguas,Puerto Rico,3182.7766,Consumer,PR,...,South America,Yucatan,COMPLETE,1014.0000,46.0,O'Brien Men's Neoprene Life Vest,49.98,2017-06-05 00:00:00+01:00,Standard Class,-1
15546,PAYMENT,15.861091,47.497177,35.0,Electronics,Del Rio,EE. UU.,9697.5720,Consumer,TX,...,Western Europe,North Rhine-Westphalia,PENDING_PAYMENT,823.7916,35.0,Bridgestone e6 Straight Distance NFL Carolina,30.00,2015-05-04 00:00:00+01:00,Standard Class,0
15547,TRANSFER,-23.254063,49.973537,17.0,Cleats,Caguas,Puerto Rico,1953.6525,Consumer,PR,...,Southeast Asia,West Java,PENDING,365.0000,17.0,Perfect Fitness Perfect Rip Deck,59.99,2016-04-07 00:00:00+01:00,Standard Class,1
15548,TRANSFER,177.790680,387.973020,9.0,Cardio Equipment,Caguas,Puerto Rico,6012.8926,Consumer,PR,...,South America,Tarapaca,PROCESSING,191.0000,9.0,Nike Men's Free 5.0+ Running Shoe,99.99,2017-09-15 00:00:00+01:00,Second Class,1

In [107]:
# определение названия колонок для удобной работы с данными
print(df.columns)

Index(['payment_type', 'profit_per_order', 'sales_per_customer', 'category_id',
       'category_name', 'customer_city', 'customer_country', 'customer_id',
       'customer_segment', 'customer_state', 'customer_zipcode',
       'department_id', 'department_name', 'latitude', 'longitude', 'market',
       'order_city', 'order_country', 'order_customer_id', 'order_date',
       'order_id', 'order_item_cardprod_id', 'order_item_discount',
       'order_item_discount_rate', 'order_item_id', 'order_item_product_price',
       'order_item_profit_ratio', 'order_item_quantity', 'sales',
       'order_item_total_amount', 'order_profit_per_order', 'order_region',
       'order_state', 'order_status', 'product_card_id', 'product_category_id',
       'product_name', 'product_price', 'shipping_date', 'shipping_mode',
       'label'],
      dtype='object')

In [108]:
#просмотр встречающихся типов записей в колонке
unique_values = df[ 'shipping_mode'].unique()

In [109]:
unique_values

array(['Standard Class', 'Second Class', 'First Class', 'Same Day'],
      dtype=object)

In [110]:
# перевод данных в integer для наилудшего понимания машины
mapping = {'DEBIT': 1, 'TRANSFER': 2, 'CASH': 3, 'PAYMENT':4}
df['payment_type'] = df['payment_type'].map(mapping)
mapping2={'Europe': 1, 'LATAM': 2, 'USCA': 3, 'Pacific Asia':4,'Africa':5}
df['market'] = df['market'].map(mapping2)
df['shipping_date'] = pd.to_datetime(df['shipping_date'])
mapping3 = {'Standard Class': 1, 'Second Class': 2, 'First Class': 3, 'Same Day':4}
df['shipping_mode'] = df['shipping_mode'].map(mapping3)

C:\Users\hhhh2\AppData\Local\Temp\ipykernel_26680\2140065103.py:5: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  df['shipping_date'] = pd.to_datetime(df['shipping_date'])

In [111]:
#создание новых наборов данных для разбиения их на тестовую и тренировочную часть
"оставшиеся колонки с учетом вычета колонок наименований стран и городов куда идет товар"
X=df[['payment_type','profit_per_order','sales_per_customer','category_id','customer_id',
         'customer_zipcode','department_id','latitude','longitude','market','order_customer_id',
         'order_id','order_item_cardprod_id','order_item_discount','order_item_discount_rate',
         'order_item_id','order_item_product_price','order_item_profit_ratio','order_item_quantity',
         'sales','order_item_total_amount','order_profit_per_order','product_card_id','product_category_id',
         'product_price','shipping_date','shipping_mode',]]
y=df[['label']]

In [112]:
#разбиение данных на тестовую и тренировочную часть
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [113]:
X_train

,payment_type,profit_per_order,sales_per_customer,category_id,customer_id,customer_zipcode,department_id,latitude,longitude,market,...,order_item_profit_ratio,order_item_quantity,sales,order_item_total_amount,order_profit_per_order,product_card_id,product_category_id,product_price,shipping_date,shipping_mode
3635,4,14.201679,139.46895,29.0,1003.25305,11506.152,5.0,40.756100,-75.203420,4,...,0.09,5.0,159.96,148.440000,19.081238,728.0,29.0,30.000000,2017-01-09 00:00:00+00:00,4
2375,2,2.804545,39.98000,29.0,2016.94500,23881.229,5.0,35.139168,-80.204420,1,...,0.10,1.0,39.99,39.986515,2.393069,627.0,29.0,39.990000,2015-07-26 00:00:00+01:00,2
3101,2,46.708515,163.95442,29.0,12222.82300,92449.310,5.0,33.974150,-118.080620,2,...,0.28,4.0,179.97,163.996780,45.341473,627.0,29.0,39.990000,2017-01-21 00:00:00+00:00,1
15047,2,47.260654,179.97000,9.0,4542.29540,92115.000,3.0,34.130333,-118.220985,1,...,0.27,2.0,199.98,179.948640,49.249363,191.0,9.0,99.990000,2016-05-29 00:00:00+01:00,3
13016,4,-182.902540,335.98000,45.0,8666.94200,725.000,7.0,18.236370,-66.370605,4,...,-0.70,1.0,399.98,335.980000,-189.579120,1004.0,45.0,399.980000,2016-08-14 00:00:00+01:00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5191,3,30.457747,108.21768,18.0,7405.98600,725.000,4.0,18.282711,-66.370580,2,...,0.28,1.0,129.99,111.596840,28.066568,403.0,18.0,129.990000,2015-04-16 00:00:00+01:00,1
13418,4,86.002810,254.98000,43.0,11996.20700,97288.110,7.0,45.070107,-121.856290,1,...,0.33,1.0,299.98,254.967500,88.343670,957.0,43.0,299.980000,2017-05-06 00:00:00+01:00,1
5390,1,87.034100,272.36856,43.0,9489.31000,78504.770,7.0,30.356407,-93.549410,1,...,0.35,1.0,299.98,254.980000,86.479126,957.0,43.0,299.980000,2015-01-05 00:00:00+00:00,1
860,3,27.516233,104.37856,24.0,4850.37800,21215.797,5.0,40.460880,-79.857155,2,...,0.26,4.0,100.00,107.890000,26.732330,502.0,24.0,29.358025,2015-02-17 00:00:00+00:00,2
7270,1,45.561657,195.65425,29.0,12326.56200,33162.270,5.0,18.288551,-81.285576,1,...,0.26,5.0,199.95,195.675720,48.645550,627.0,29.0,39.990000,2017-07-08 00:00:00+01:00,1

In [114]:
y_train

       label
3635       1
2375       1
3101       1
15047     -1
13016      0
...      ...
5191       0
13418      1
5390       1
860        1
7270      -1

[12439 rows x 1 columns]